*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
table{
    width: 800px;
    background-color: crimson;
    border: black solid 3px;
    margin: auto;
}
nav{
    background-color:bisque;
    height: 40px;
    padding: 10px;
}
a{
    color:salmon;
    text-decoration: none;
    margin: 10px;
}
img{
    width: 190px;
    height: 250px;
}
/* #fondo{
    background-image: url(/zayn2.jpg) ;
 
    /* opacity: 50%; */
/* } */
#fondo2{
    background-image: url(/gigi.jpg) ;
  
}