.contenedor{
    width: 100%;
    background-color: bisque;
    margin: auto;
    display: flex; /*se situa uno despues de otro*/
    /*flex-direction: column; se ordena uno debaja del otro*/
    flex-wrap: wrap; /*para que se mantenga el tamamaño de la caja*/
    justify-content: space-between; /*los espacios se hacen igual para todos lo elementos*/
}
.elemento{
    background-color: skyblue;
    color: white;
    border: 2px solid gold;
    padding: 5px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center; /*para centrar los datos del elemento (numeros)*/
    align-items: center;
}
